*.[oa]
*.lo
*.la
Makefile.in
Makefile
.deps
.libs
*.sw[po]
*enum-types*
*.pc
*.tar.*
*.orig
*.rej
*.bak
*~
*.pyc
*.loT
.semanticache

ChangeLog
stamp-h1
xmldocs.make
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.status.lineno
config.sub
configure
depcomp
autom4te.cache
gtk-doc.make
install-sh
intltool-*
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
compile
cscope.out
tags
TAGS
gnome-doc-utils.make
